:root {
  --primary-clr--pale-blue: hsl(225, 100%, 94%);
  --primary-clr--bright-blue: hsl(245, 75%, 52%);

  --neutral-clr--very-pale-blue: hsl(225, 100%, 98%);
  --neutral-clr--desaturated-blue: hsl(224, 23%, 55%);
  --neutral-clr--dark-blue: hsl(223, 47%, 23%);

  --ff--: "Red Hat Display", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-image: url("../images/pattern-background-desktop.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: var(--primary-clr--pale-blue);
  font-family: var(--ff--);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

h1 {
  font-weight: 900;
  font-size: 1.5rem;
  margin-bottom: 1.2rem;
}

img {
  width: 100%;
}

.card {
  max-width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
}

.price-container {
  line-height: 1.5;
}

.header-img {
  border-radius: 15px 15px 0 0;
}

.content__text--summary {
  color: var(--neutral-clr--desaturated-blue);
  font-weight: 500;
  line-height: 1.6;
  padding: 0 25px;
  margin-bottom: 1.5rem;
}

.annual-plan {
  background-color: var(--neutral-clr--very-pale-blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.1rem 1rem;
  border-radius: 0.6em;
  margin-bottom: 1.5rem;
}

.music-img {
  max-width: 48px;
}

.left-content {
  display: flex;
  gap: 20px;
}

.right-content a {
  font-weight: 700;
  color: rgba(86, 73, 202, 0.849);
}

.content {
  padding: 2rem 1.5rem;
}

.price-header {
  font-weight: 700;
}

.price {
  color: var(--neutral-clr--desaturated-blue);
}

.link a {
  color: var(--neutral-clr--desaturated-blue);
  font-weight: 700;
  text-decoration: none;
}

.btn {
  margin-bottom: 1.7rem;
}

.btn a {
  display: block;
  background-color: var(--primary-clr--bright-blue);
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  padding: 1em 0;
  border-radius: 0.6em;
  box-shadow: 0 20px 40px -15px var(--primary-clr--bright-blue);
  transition: ease 0.3s;
}

.btn a:hover,
.btn a:focus {
  background-color: rgba(86, 73, 202, 0.849);
}

.right-content a:hover,
.right-content a:focus {
  text-decoration: none;
  color: rgba(86, 73, 202, 0.849);
}

.link a:hover,
.link a:focus {
  color: black;
}

.attribution {
  font-size: 0.6875rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
